/* En src/components/CalorieCounter/CalorieCounter.css */

.calorie-counter-container {
    padding: 20px;
    background-color: #f5f5f5; /* Ajusta esto según tu esquema de colores */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .custom-tooltip {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .custom-tooltip .label {
    color: #333;
  }
  